version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    labels:
      - 'skip-changelog'
      - 'dependencies'
    rebase-strategy: disabled

  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: "monthly"
      time: "04:00"
    open-pull-requests-limit: 10
    versioning-strategy: increase
    labels:
      - skip-changelog
      - dependencies
    rebase-strategy: disabled
    allow:
      - dependency-name: "@strapi*"
      - dependency-name: "meilisearch"      
  - package-ecosystem: npm
    directory: "/playground/"
    schedule:
      interval: "monthly"
      time: "04:00"
    open-pull-requests-limit: 10
    versioning-strategy: increase
    labels:
      - skip-changelog
      - dependencies
    rebase-strategy: disabled
    allow:
      - dependency-name: "@strapi*"
      - dependency-name: "meilisearch"
